/* crayons.css, https://github.com/kbroman/crayonsJS */
/* colors from http://en.wikipedia.org/wiki/List_of_Crayola_crayon_colors */

:root {
  --Almond: #efdecd;
  --AntiqueBrass: #cd9575;
  --Apricot: #fdd9b5;
  --Aquamarine: #78dbe2;
  --Asparagus: #87a96b;
  --AtomicTangerine: #ffa474;
  --BananaMania: #fae7b5;
  --Beaver: #9f8170;
  --Bittersweet: #fd7c6e;
  --Black: #000000;
  --BlizzardBlue: #ace5ee;
  --Blue: #1f75fe;
  --BlueBell: #a2a2d0;
  --BlueGray: #6699cc;
  --BlueGreen: #0d98ba;
  --BlueViolet: #7366bd;
  --Blush: #de5d83;
  --BrickRed: #cb4154;
  --Brown: #b4674d;
  --BurntOrange: #ff7f49;
  --BurntSienna: #ea7e5d;
  --CadetBlue: #b0b7c6;
  --Canary: #ffff99;
  --CaribbeanGreen: #00CC99;
  --CarnationPink: #ffaacc;
  --Cerise: #dd4492;
  --Cerulean: #1dacd6;
  --Chestnut: #bc5d58;
  --Copper: #dd9475;
  --Cornflower: #9aceeb;
  --CottonCandy: #ffbcd9;
  --Dandelion: #fddb6d;
  --Denim: #2b6cc4;
  --DesertSand: #efcdb8;
  --Eggplant: #6e5160;
  --ElectricLime: #ceff1d;
  --Fern: #71bc78;
  --ForestGreen: #6dae81;
  --Fuchsia: #c364c5;
  --FuzzyWuzzy: #cc6666;
  --Gold: #e7c697;
  --Goldenrod: #fcd975;
  --GrannySmithApple: #a8e4a0;
  --Gray: #95918c;
  --Green: #1cac78;
  --GreenBlue: #1164b4;
  --GreenYellow: #f0e891;
  --HotMagenta: #ff1dce;
  --Inchworm: #b2ec5d;
  --Indigo: #5d76cb;
  --JazzberryJam: #ca3767;
  --JungleGreen: #3bb08f;
  --LaserLemon: #fefe22;
  --Lavender: #fcb4d5;
  --LemonYellow: #fff44f;
  --MacaroniandCheese: #ffbd88;
  --Magenta: #f664af;
  --MagicMint: #aaf0d1;
  --Mahogany: #cd4a4c;
  --Maize: #edd19c;
  --Manatee: #979aaa;
  --MangoTango: #ff8243;
  --Maroon: #c8385a;
  --Mauvelous: #ef98aa;
  --Melon: #fdbcb4;
  --MidnightBlue: #1a4876;
  --MountainMeadow: #30ba8f;
  --Mulberry: #c54b8c;
  --NavyBlue: #1974d2;
  --NeonCarrot: #ffa343;
  --OliveGreen: #bab86c;
  --Orange: #ff7538;
  --OrangeRed: #ff2b2b;
  --OrangeYellow: #f8d568;
  --Orchid: #e6a8d7;
  --OuterSpace: #414a4c;
  --OutrageousOrange: #ff6e4a;
  --PacificBlue: #1ca9c9;
  --Peach: #ffcfab;
  --Periwinkle: #c5d0e6;
  --PiggyPink: #fddde6;
  --PineGreen: #158078;
  --PinkFlamingo: #fc74fd;
  --PinkSherbert: #f78fa7;
  --Plum: #8e4585;
  --PurpleHeart: #7442c8;
  --PurpleMountainsMajesty: #9d81ba;
  --PurplePizzazz: #fe4eda;
  --RadicalRed: #ff496c;
  --RawSienna: #d68a59;
  --RawUmber: #714b23;
  --RazzleDazzleRose: #ff48d0;
  --Razzmatazz: #e3256b;
  --Red: #ee204d;
  --RedOrange: #ff5349;
  --RedViolet: #c0448f;
  --RobinsEggBlue: #1fcecb;
  --RoyalPurple: #7851a9;
  --Salmon: #ff9baa;
  --Scarlet: #fc2847;
  --ScreaminGreen: #76ff7a;
  --SeaGreen: #93dfb8;
  --Sepia: #a5694f;
  --Shadow: #8a795d;
  --Shamrock: #45cea2;
  --ShockingPink: #fb7efd;
  --Silver: #cdc5c2;
  --SkyBlue: #80daeb;
  --SpringGreen: #eceabe;
  --Sunglow: #ffcf48;
  --SunsetOrange: #fd5e53;
  --Tan: #faa76c;
  --TealBlue: #18a7b5;
  --Thistle: #ebc7df;
  --TickleMePink: #fc89ac;
  --Timberwolf: #dbd7d2;
  --TropicalRainForest: #17806d;
  --Tumbleweed: #deaa88;
  --TurquoiseBlue: #77dde7;
  --UnmellowYellow: #ffff66;
  --Violet(Purple): #926eae;
  --VioletBlue: #324ab2;
  --VioletRed: #f75394;
  --VividTangerine: #ffa089;
  --VividViolet: #8f509d;
  --White: #FFFFFF;
  --WildBlueYonder: #a2add0;
  --WildStrawberry: #ff43a4;
  --WildWatermelon: #fc6c85;
  --Wisteria: #cda4de;
  --Yellow: #fce883;
  --YellowGreen: #c5e384;
  --YellowOrange: #ffae42;
}
