code {
  padding: 0;
  font-size: 90%;
  color: black;
  background-color: white;
  border: 0px solid white;
}

a code {
    color: #slateblue;
}

a {
    color: #slateblue;
}

a:hover {
    color: darkslateblue;
    background-color: #e3e4fa;
    text-decoration: none;
}

p.center {
    text-align: center;
}

table.wide {
    width: 100%;
}

table.wide td {
    padding-top: 20px;
    padding-bottom: 20px;
}

td.left {
    text-align: left;
}

td.right {
    text-align: right;
}

#hide_email b {
    display: none;
}


h1, h2, h3, h4 {
    color: darkslateblue;
}